{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "globals": {
    "_": true,
    "Schemas": true,
    "Meteor": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-undef": "warn",
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "quote-props": [1, "consistent-as-needed"],
    "no-cond-assign": [2, "except-parens"],
    "radix": 0,
    "space-infix-ops": 0,
    "default-case": 0,
    "no-else-return": 0,
    "no-param-reassign": 0,
    "quotes": 0,
    "jsx-a11y/label-has-for": 0,
    "react/jsx-filename-extension": 0
  }
}
